@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.content-boxes{
    padding: 1.5em;
    width: 85%;
    margin: 0 auto;
}

.main-box{
    padding: 1.5em;
    width: 70%;
    margin: 0 auto;
}

.welcome{
    display: block;
}

.encryptor, .side{
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin: 4em 0;
    padding: 1.5em;
}

.encryptor{
    text-align: center;
    width: 50%;
}

.encryptor img{
    display: inline;
}

.encryptor p{
    margin: 1em 0;
}

#message-input{
    resize: none;
    text-transform:lowercase;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

::placeholder{
    text-transform: initial;
}

.encrypt-button{
    padding: 0.5em;
    margin: 0 1em;
    border: 2px solid #0A3871;
    border-radius: 10px;
    font-weight: bold;
}

.encrypt-button:hover{
    cursor:pointer;
}

#encriptar{
    background-color: #0A3871;
    /*color: #fff;*/
}

#encriptar:hover{
    background-color: #53739B;
    transition: all 1s;
}

#desencriptar{
    color: #0A3871;
    background-color: #D8DFE8;
}

#desencriptar:hover{
    background-color: #53739B;
    transition: all 1s;
}

.side{
    width: 35%;
    float: right;
    /*border: 1px solid #000;*/
    /*border-radius: 10px;*/
    /*padding: 1.5em;*/
}

.side > h3, p{
    margin: 1em;
}