.header-logo, .header-title, .encrypter-icon{
    display: inline-block;
}

.header-logo{
    margin-left: 1em;
}


.header-box hr{
    margin-top: 1em;
}

.header-title{
    float: right;
    padding-top: .3em;
}

.encrypter-icon{
    width: 3.5em;
    float: right;
    margin-left: 1em;
}

@media (min-width: 375px) and (max-width: 768px){
    .header-box{
        text-align: center;
    }
.header-logo{
    float: left;
}

    .header-title{
        float: none;
        padding-top: .3em;
    }
}

@media (max-width: 375px){
    .header-box{
        margin-bottom: 3em;
    }
    
.header-logo{
    float: left;
}
    .header-title{
        display: none;
    }
    .header-box > hr{
       display: none; 
    }
}